<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
      <!--<div class="occupation1"><a class="artist">Artist </a><a class="illustrator"> Illustrator </a><a class="animator"> Animator</a></div> -->
      <div class="occupation1"><i>a blog</i></div>
      <!--<div class="commissions">Commissions are currently [<a class="open" href="{{ site.url }}/contact">OPEN</a>]</div>-->
      <!--<div class="studygroup">Looking for a <a href="https://www.twitch.tv/tigersharksstudygroup" target=_blank>study group?</a> <a href="https://www.twitch.tv/tigersharksstudygroup" target=_blank>Join us!</a> 8am to 10am M-F</div>-->
    </div>
  </div>
</header>
