{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<a href="https://www.instagram.com/i.m.storey/" class="pics" target="_blank">Pictures</a>

<a href="https://www.youtube.com/channel/UCKYCYzcWlMPYGsQklvueiGw" class="motion" target="_blank">Motion</a>

<a href="https://imstorey.com/" class="writing">Writing</a>

<!-- <a href="https://www.twitch.tv/tigersharksstudygroup" class="study">Study Group</a> -->

{% for path in page_paths %}

    {% assign page = site.pages | where: "path", path | first %}

    {% if page.title %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}


{% endfor %}

<!-- <a href="https://www.twitch.tv/tigersharksstudygroup" target="_blank"><i>Study Group</i></a> -->

<!-- <a href="https://artbyianstorey.com/" target="_blank">SHOP</a> -->

<!-- <a href="https://www.instagram.com/i.m.storey/" target="_blank">Instagram</a> -->
