.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;

}

.site-header a {

  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
  font-family: Arial;
    color: black;
}
.animator {
  color: #ffc012;
  font-size: $h2;
  font-family: Arial;
}

.illustrator {
  color: #1900ff;
  font-size: $h2;
  font-family: Arial;
}

.artist {
  color: #c60000;
  font-size: $h2;
  font-family: Arial;
}

.open {
  color: green;
}

.open:hover {
  background-color: green;
  color:white;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: black;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {

  // opacity: 0.5;
  // border-bottom: 2px solid;
  // border-top: 2px solid;
  color: White;
  background-color: black;

}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {

  opacity: 0.88 ;
}

.site-header {
  text-align: center;
}

.site-title a {
  color: black;
}

.site-header .site-nav {
  text-align: center;
}

.site-nav .pics {
  color: #1900ff;

}

.site-nav .pics:hover,
.site-nav .pics:focus,
.site-nav .pics:active {
  color: white;
  background-color: #1900ff;

}

.site-nav .writing {
  color: #c60000;

}

.site-nav .writing:hover,
.site-nav .writing:focus,
.site-nav .writing:active {
  color: white;
  background-color: #c60000;

}

.site-nav .motion {
  color: #ffc012;

}

.site-nav .motion:hover,
.site-nav .motion:focus,
.site-nav .motion:active {
  color: white;
  background-color: #ffc012;

}

.site-nav .study {
  color: green;

}

.site-nav .study:hover,
.site-nav .study:focus,
.site-nav .study:active {
  color: white;
  background-color: green;

}

.site-nav .newsletter {
  color: #FF7833;

}

.site-nav .newsletter:hover,
.site-nav .newsletter:focus,
.site-nav .newsletter:active {
  color: white;
  background-color: #FF7833;

}

.site-nav .portfolio {
  color: #006115;

}

.site-nav .portfolio:hover,
.site-nav .portfolio:focus,
.site-nav .portfolio:active {
  color: white;
  background-color: #006115;

}

.site-nav .dead {
  color: #c60000;

}

.site-nav .dead:hover,
.site-nav .dead:focus,
.site-nav .dead:active {
  color: #c60000;
  background-color: black;

}
