.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;

}

.site-header a {

  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
  font-family: Arial;
    color: black;
}
.animator {
  color: #ffc012;
  font-size: $h2;
  font-family: Arial;
}

.illustrator {
  color: #1900ff;
  font-size: $h2;
  font-family: Arial;
}

.artist {
  color: #c60000;
  font-size: $h2;
  font-family: Arial;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: black;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {

  opacity: 1;
  border-bottom: 2px solid;
  border-top: 2px solid;

}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  color: #E4008D ;
  opacity: 0.88 ;
}

.site-header {
  text-align: center;
}

.site-title a {
  color: black;
}

.site-header .site-nav {
  text-align: center;
}
